body{
    background-color: #000;
}
.bg-red {
    background-color: #fd4556;
  }

  .text-white {
    color: #fff;
  }  
  /* Texto rojo oscuro */
  .text-red-dark {
    color: #bd3944;
  }
  
  .bg-brown-dark {
    background-color: #53212b;
  }
  
  .bg-beige-light {
    background-color: #fffbf5;
  }
  
  .text-black {
    color: #000;
  }
  
