* {
    padding: 0%;
    box-sizing: border-box;
    margin: 0%;
} 
body {

    min-height: 100vh;
    background-attachment: fixed;
}

header {
    min-height: 20vh;

}

main {
    min-height: 70vh;

}

footer {
    min-height: 10vh;

}